* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #e0e0e0;
}

main {
  text-align: center;
  padding-top: 10%;
}

main #kbdArea {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 30px 30px 40px;
  border-radius: 10px;
}

kbd {
  font-family: Helvetica;
  border-radius: 8px;
  display: inline-block;
  height: 69px;
  line-height: 69px;
  width: 71px;
  margin: 0 12px 12px 0;
  text-transform: uppercase;
  position: relative;
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

kbd:active {
  top: 2px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

kbd>button {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 12px;
  display: none;
}

kbd:hover>button {
  display: inline-block;
}

kbd img {
  position: absolute;
  left: 3px;
  bottom: 3px;
}

kbd>button {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #aaa;
  padding: 2px;
  border-radius: 2px;
}
kbd .y-img {
  bottom: -5px;
}
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
#switch {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-radius: 8px;
  background-color: #000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 85%;
  outline: none;
}
#switch .dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: #858585;
  flex-direction: row;
}
#switch:active {
  top: calc(30% + 2px);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}