* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

body {
  background-color: #e0e0e0;
}

main {
  text-align: center;
  margin-top: 15%;
}

main #kbdArea {
  display: inline-block;
}

kbd {
  border-radius: 8px;
  display: inline-block;
  height: 69px;
  line-height: 69px;
  width: 71px;
  margin: 0 12px 12px 0;
  text-transform: uppercase;
  position: relative;
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

kbd:active {
  top: 2px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

kbd>button {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 12px;
  display: none;
}

kbd:hover>button {
  display: inline-block;
}

kbd img {
  position: absolute;
  left: 3px;
  bottom: 3px;
}

kbd>button {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: #aaa;
  padding: 2px;
  border-radius: 2px;
}
kbd .y-img {
  bottom: -5px;
}